.landing {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($primary-color, 0.6), rgba($secondary-color, 0.6)), url("img/mountains.jpg");
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0%, 100% 0%, 100% 85%, 0% 100%);
    &__logo {
        display: inline-block;
        height: 12rem;
        margin: 3rem;
        position: relative;
        cursor: pointer;
        transition: all 2s ease;
        backface-visibility: hidden;
        &:hover {
            transform: rotate(360deg);
        }
        &--1 {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__caption {
        display: inline-block;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}