$primary-color: #7ED56F;
$secondary-color: #28B485;
$color-grey-light:#f7f7f7;
$shadow: 5px 5px 20px rgba(0, 0, 0, 0.336);
$shadow-hover: 5px 5px 20px rgba(100, 100, 100, 0.521);
$background-text: linear-gradient(to right, $primary-color, $secondary-color);
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;
$grid-width: 76rem;
$gutter-virtical: 7rem;
$gutter-horizontal: 6rem;
$color-grey-light-1:#f7f7f7;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7738;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;